{% extends "base.html" %}

{% block style %}
{{super()}}
<style>
  #container {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #container canvas, #overlay {
    position: absolute;
  }

  input[type=checkbox] + label {
    margin: 0;
    cursor: pointer;
    padding: 0;
    transform: translate(-50%, -50%);
    position: absolute;	    
  }

  /*Render the actual checkboxes invisible*/
  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + label::before {
    content: "";
    display: flex;
    border: 1px solid #000;
    border-radius: {{boiler.tubes[0].radius}}px; /*equal to circle radius*/
    width: {{2*boiler.tubes[0].radius}}px;
    height: {{2*boiler.tubes[0].radius}}px;
    color: transparent;
    transition: .2s;
  }

  /*shrink checkbox element to zero when clicked*/
  input[type=checkbox] + label:active::before {
    transform: scale(0);
  }

  /*color checked checkbox MediumSeaGreen*/
  input[type=checkbox]:checked + label::before {
    background-color: MediumSeaGreen;
    border-color: MediumSeaGreen;
    color: #fff;
  }

</style>
{% endblock %}

{% block content %}
  <div id="container">
    <canvas id="canvas" width="{{2*boiler.shell_radius+10}}px" 
	    height="{{2*boiler.shell_radius+10}}px"></canvas>
    <form class="checkbox-wrapper" id="overlay" action="" method="post">
      {% for tube in boiler.tubes %}
      <input type="checkbox" id="tube{{tube.id}}" name="tube{{tube.id}}">
      <label for="tube{{tube.id}}" 
             style="left:{{tube.x_coord-boiler.shell_radius-5}}px;top:{{tube.y_coord+5}}px"></label>
      {% endfor %}
      <input type="submit" 
             style="position:absolute;left:0px;top:{{2*boiler.shell_radius+20}}px"
             value = "Confirm">
    </form>
  </div>


<script> 
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
const tau = Math.PI * 2;

ctx.beginPath();

//Draw the outer boiler shell
ctx.arc({{boiler.shell_radius+5}}, {{boiler.shell_radius + 5}},
	        {{boiler.shell_radius}},0,tau);
ctx.closePath();
ctx.stroke();

{% for tube in boiler.tubes %}
ctx.beginPath();
ctx.moveTo({{tube.x_coord+tube.radius}},{{tube.y_coord+5}});
ctx.arc({{tube.x_coord}},{{tube.y_coord+5}},{{tube.radius}},0,tau);
ctx.closePath();
{% if tube.is_plugged %}
ctx.fill();
{% else %}
ctx.stroke();
{% endif %}
{% endfor %}
</script>

{% endblock %}
