<script>
const canvas = document.getElementById('canvas');
const ctx = canvas.getContext('2d');
const tau = Math.PI * 2;

ctx.beginPath();

//Draw the outer boiler shell
ctx.arc({{boiler.shell_radius+5}}, {{boiler.shell_radius + 5}},
        {{boiler.shell_radius}},0,tau);
ctx.closePath();
ctx.stroke();

//Draw the boiler tubes
{% for tube in boiler.tubes %}
    ctx.beginPath();
    ctx.moveTo({{tube.x_coord+tube.radius}},{{tube.y_coord+5}});
    ctx.arc({{tube.x_coord}},{{tube.y_coord+5}},{{tube.radius}},0,tau);
    ctx.closePath();
    {% if tube.is_plugged %}
        ctx.fill();
    {% else %}
        ctx.stroke();
    {% endif %}
{% endfor %}
</script>
		
